<%- include('template/cabecera', {tituloWeb: 'Página Inicio'}) %>

    <div class="container-fluid">
        <h1 class="text-primary">Este es mi Index</h1>
        <h2><%= titulo %></h2>
    </div>

<%- include('template/footer') %>
