<%- include('template/cabecera', {tituloWeb: 'Servicios'}) %>

<div class="container-fluid">
    <h1 class="text-primary">Servicios</h1>
    <h2><%= tituloServicios %></h2>
</div>

<%- include('template/footer') %>